<div class="navbar">
    <div class="nav-links">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Search</button>
    </div>
</div>

<div id="MainDiv">
    <div id="divForm">
        <div id="title">
            <h3>User Registration</h3>
        </div><hr>
        <form>
            <label id="ErrorMsg"></label>

            <div class="form-group">
                <label for="lblUserId">User ID:</label>
                <label id="lblUserId"></label>
            </div>
            <div class="form-group name-group">
                <div>
                    <label for="txtFirstName">First Name:</label>
                    <input type="text" id="txtFirstName" required>
                </div>
                <div>
                    <label for="txtLName">Last Name:</label>
                    <input type="text" id="txtLName" required>
                </div>
            </div>
            <div class="form-group name-group">
                <div>
                    <label for="txtAge">Age:</label>
                <input type="number" id="txtAge" min="0" required>
                </div>
                <div>
                    <label >Gender:</label>
                    <label align="center"><input type="radio" id="rdbMale" value="Male" name="Gender" required>Male &nbsp;
                        <input type="radio" id="rdbFeMale" value="Female" name="Gender" required>Female
                    </label>
                </div>
                
            </div>            

            <div class="form-group name-group">
                <div>
                    <label for="txtCont">Contact:</label>
                <input type="text" id="txtCont" required>
                </div>       
                <div>
                    <label for="txtZipCode">ZipCode</label>
                <input type="text" id="txtZipCode" required>
                </div>         
            </div>
            <div class="form-group">
                <label for="txtAdd">Address:</label>
                <textarea id="txtAdd" rows="4" cols="50" placeholder="Enter your address..." required></textarea>
            </div>
            <div class="form-group">
                <label for="fileupload">Image:</label>
                <input type="file" id="fileupload" accept="image/*" (change)="onFilesSelected($event)">
            </div>
            <input type="button" id="btnSave" (click)="SaveUsers()" value="Save"><br>
            <!-- <input type="button" id="btnSaveJson" (click)="SaveUsersJson()" value="Submit"> -->
        </form>
    </div>


</div><br>
<div style="width: 100%;display: flex;justify-content: center;">
    <a href="#" id="ancUsers" (click)="getData()">Show</a>
    <div id="tblDiv" style="display: none;text-align: center;">
        <table class="tblUsers">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>ZipCode</th>
                    <td>Address</td>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.userId}}</td>
                    <td><a href="#" (click)="navigateToUser(user.userId)" id="btnView">{{user.firstName}}</a></td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.contact}}</td>
                    <td>{{user.zipCode}}</td>
                    <td>{{user.address}}</td>
                    <td><a href="#" id="btnEdit" (click)="editUser(user.userId)">Edit</a> </td>
                    <td><a href="#" id="btnDelete" (click)="DeleteUser(user.userId)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="display: none;">
    <h5 id="Msg"> {{ name }}</h5>
    <p>Age: {{ age }}</p>
    <p>{{address}}</p>
</div>