<div id="MainDiv">
    <div>
        <div>
            <img [src]="userImagePath" id="userImg" width="300px" height="250px">
        </div>
    </div>
    <div>
        <div>
            <label>Name</label>&nbsp;<b><label id="lblUserName"></label></b><br>
            <label>Age:</label>&nbsp;<label id="lblAge"></label><br>
            <label>Gender:</label>&nbsp;<label id="lblGender"></label><br>
            <label>Address:</label>&nbsp;<label id="lblAdd"></label><br>
            <label>FileName:</label>&nbsp;<label id="lblFileName"></label><br>
            <label>CreationDate:</label>&nbsp;<label id="lblCreationDate"></label>
        </div>
    </div>
</div>
